/*
body {
    color: royalblue;
    border: 3px solid black;
    background: yellowgreen;

}

/*Especificadade

p {
    color: red !important;
}

.pagina p {
    color:aquamarine;
}
*/


h2.roxo {
    color:purple;
}
