.caixa {
    width: 400px;
    background:  #dedede url(../Imagens-redondas/fundo-arredondamento.png) repeat-y ;
}

.caixa p {
    /*border: 1px solid green;*/
    padding: 0 20px;
    margin-top: -10px;    
} 

.caixa h2 {
    /*border: 1px solid red;*/
    padding: 10px 20px;
    background: url(../Imagens-redondas/topo2.png) no-repeat left top;
}

.caixa .ultimo {
    /*border: 1px solid red;*/
    background: url(../Imagens-redondas/baixo2.png) no-repeat left bottom;
    width: 400px;
    height: 35px;
}