body {
    font-family: 'Courier New', Courier, monospace;

}

table {
    width: 600px;
    border-collapse: separate;
}

th, td {
    padding: 8px;
    
}

th {
    text-transform: uppercase;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
}

tr.alternado {
    background: #efefef;
}

.cor-azul:hover {
    background: rgb(32, 115, 211);
}

.cor-red:hover {
    background: red;
}

.numero {
    text-align: right;
}